:root {
    --header-color: pink; 
   
}

.header {
    font-size: 80px;
    color: var(--header-color);
    text-align: center;
    padding: 20px;
}


.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat (12, 1fr);
}

.column {
    display: flex;
    flex-direction: row;
    background-color: pink;
    box-sizing: content-box;
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 40px;
    display: inline-block;
    margin: 15px;